<mat-toolbar>
  <img height="80%" src="assets/magic_sword.png" alt="Magic Sword"/>
  <span class="gap"></span>
  <span>Magic Item Tool</span>

  <span fxFlex="1 1 auto"></span>

  <span fxHide fxShow.gt-sm="true" fxLayout="row" fxLayoutGap="3%" fxLayoutAlign="center center">
    <span class="mat-body-1">
      Our goal is to keep Magic Item Tool free for everybody, forever.<br>
      If you like the tool or find it useful, please consider donating.
    </span>
    <a href='https://ko-fi.com/Y8Y6ZVOX' target='_blank'>
      <img class="mat-elevation-z24" height='36px' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=2' alt='Buy Me a Coffee at ko-fi.com' />
    </a>
  </span>
</mat-toolbar>

<div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center start">
    <div fxLayout="column" fxLayoutGap="1%">
      <mat-card class="mat-elevation-z10">
        <app-magic-item-form></app-magic-item-form>
      </mat-card>
    </div>
    <mat-card fxFlex="0 1 auto" class="mat-elevation-z10">
      <mat-card-content id="mit-image-content">
        <img mat-card-image
          id="magic-item-image"
          src="assets/magicitemcards_template_front_poker_rounded.png"
          alt="Preview of magic item card"/>
        <mat-card-actions>
          <a id="magic-item-link">
            <button id="magic-item-download-button" mat-fab matTooltip="Download" [disabled]="true">
              <mat-icon>cloud_download</mat-icon>
            </button>
          </a>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
</div>
